<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="padding-left:130px;background:#57068c;margin-bottom:0;">
    <div class="container-fluid">
        <div class="navbar-header navbar-right">
            <a class="navbar-brand" href="#" style="text-decoration:none;">
                <span style="color:white;">Tweet Map</span>
            </a>
        </div>



    </div>

</div>
<div class="container" style="height:100%;width:100%;padding:0;">

    <div id="style-selector-control" class="map-control select-style">
        <select id="style-selector" class="selector-control">
        <option value="trump" selected="selected">trump</option>
        <option value="food">food</option>
        <option value="pizza">pizza</option>
        <option value="apple">apple</option>
        <option value="love">love</option>
        <option value="pumpkin">pumpkin</option>
        <option value="music">music</option>
      </select>
    </div>

    <div style="height:100%;width:100%">
        <div id='map'></div>

    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVIoShAkLaMasPdiqGEI5XiWTqsUjWEpI&callback=initMap" async defer></script>
</div>
